p.descript {
  font-family: "Acme";
  font-size: 19px;
  color: gray;
  margin-top: 10px;
}
#section h2 {
  font-family: "Acme";
  margin-bottom: 10px;
}
ol {
  padding-bottom: 18px;
}
#section h3 {
  font-family: "Acme";
}
#list5 li{
  list-style-type: none;
}